* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #85e061;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background-image: url("Gemini_Generated_Image_mn6k3ymn6k3ymn6k.jpeg"); */
  /* background-size:unset ; */
}

.container {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  box-shadow: 5px 5px 10px black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #f9a743;
  font-size: 24px;
  margin: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* transition: .5s; */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #243946;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

/* Styling for Phone Number: Label and Input on Same Line */
.form-group.inline {
  display: flex;
  align-items: center;
}

.form-group.inline label {
  flex: 1;
  margin-right: 10px;
}

.form-group.inline input {
  flex: 2;
}

/* Hide chapter select field by default */
#chapter-container {
  display: none;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #568203;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: 1 / -1;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #006A4E;
}

.footer {
  text-align: center;
  margin-top: 15px;
}

a{
  
  color: #D0F0C0;
}
a:hover{
  color: white;
  transition: 1s ease-in-out;
}

input, select{
  background-color: #57ce12;
}

h1{
  color: #243946;
}